<div id="teasers_left" class="fl_left clearfix">
	<div class="box teaser_box">
	</div>
</div>
<div id="content" class="fl_left clearfix">
	<div class="box content_box">
		<h1>Welcome on appstack.io</h1>
		<h2>Release software faster using appstack.io Builder</h2>
		<p>
			It's so easy do build your application logic inside the builder and use this logic as dedicated service.
		</p>
		<img class="fl_left" height="80" src="img/mebb.png" alt="Bernhard BEzdek"/>
		<p>
			It's so easy do build your application logic inside the builder and use this logic as dedicated service. There are no limits to expand in
			It's so easy do build your application logic inside the builder and use this logic as dedicated service. There are no limits to expand in

			It's so easy do build your application logic inside the builder and use this logic as dedicated service. There are no limits to expand in
		</p>
	</div>
	<div class="box content_box">
		<h1>Factsheet</h1>
		<h2>Get the facts about appstack Buider</h2>
		<p>
			There are so many features making it easier to develop the application not the worl around it.
		</p>
		<h3>Get the facts:</h3>
		<ul>
			<li>
				- Fast Webbased Service Builder
			</li>
			<li>
				- Easy to use user- and rightsmanagement
			</li>
			<li>
				- Use your logic as a service using appstack api
			</li>
			<li>
				- Use appstack api with your favourite language (PHP, JQuery, Flash, Ruby, Java, Perl)
			</li>
		</ul>
	</div>
</div>
<div id="teasers_right" class="fl_right clearfix">
	<div class="box teaser_box">
	</div>
</div>