<div id="consumercreatemask">
	<div id="consumercreatemaskhead" class="apst_pink apst_bold">
		<a class="consumercreateopen fl_left" href="#"></a>&nbsp;&nbsp;Create a new consumer
	</div>
	<form action="apis/consumercreate" method="post" id="consumercreate" class="clearfix">
		<input class="fl_left" type="text" name="admin" id="admin" value="" maxlength="64"/>
		<label class="fl_left" for="admin">Applications admin name</label>
		<input class="fl_left" type="text" name="appmail" id="appmail" value="" maxlength="64"/>
		<label class="fl_left" for="appmail">Application admin email.</label>
		<input class="fl_left" type="text" name="appurl" id="appurl" value="" maxlength="255"/>
		<label class="fl_left" for="appurl">Application URL</label>
		<input class="fl_left" type="text" name="callback" id="callback" value="" maxlength="255"/>
		<label class="fl_left" for="callback">Application callback URL</label>
	</form>
	<a id="createconsumer" href="#" class="dn apst_pink">Create a new consumer</a>
	<img id="serverkeyloader" class="dn fl_right" src="img/loader1.gif" alt="ajaxloader"/>
</div>