<div id="browserkeycreatemask">
	<div id="browserkeycreatemaskhead" class="apst_pink apst_bold">
		<a class="browserkescreateopen fl_left" href="#"></a>&nbsp;&nbsp;Create a new browserkey (readonly)
	</div>
	<form action="apis/browserkeycreate/" method="post" id="browsercreate" class="clearfix">
		<input class="fl_left" type="text" name="appurl" id="appurl" value="" maxlength="255"/>
		<label class="fl_left" for="appurl">Application URL</label>
		<input class="fl_left" type="checkbox" name="anywhere" id="anywhere" value="1"/>
		<label class="fl_left" for="anywhere">Allow access form anywhere</label>
	</form>
	<a id="createbrowserkey" href="#" class="dn apst_pink">Create a new consumer</a>
	<img id="browserkeyloader" class="dn fl_right" src="img/loader1.gif" alt="ajaxloader"/>
</div>